.App {
  /* Determinar o viewport da applicação - class da MASTER DIV */
  width: 100vw;
  height: 100vh;
  background-color: gainsboro;

  /* Utilizacao de variaveis css para theme */
  color: var(--text-primary);
  background-color: var(--background);
}
.Block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.Buttons {
  /* Controla directions do conteudo (icones dentro da caixa do botao) */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Determina area do click */
  height: 4em;
  width: 4em;

  /* Retira o styling do botão */
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
}

.Icons {
  /* SVG files - vector - funcionam com transform scale */
  transform: scale(2);
  color: white;
}

.Footer {
  /* Mantem o footer no bottom */
  position: fixed;
  bottom: 0;

  /* Controla directions do conteudo */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  /* Propriedades do footer */
  width: 100%;
  height: 10%;
  background-color: red;
}

/* Animacao */
.image {
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
  height: 5rem;
}
.image:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}